body {
    background-color: #FF7A00;
}

a {
    text-decoration: none;
    color: #FF7A00;
}

.orangeButton {
    background-color: #FF7A00;
    border-color: #FF7A00;
}

.orangeButton:hover {
    background-color: #FF7A00;
    border-color: #FF7A00;
    opacity: 70%;
}

.bgdGray {
    background-color: gray;
}

.textRed {
    color: red;
}

.textYellow {
    color: yellow;
}

.textGreen {
    color: green;
}

.textGray {
    color: gray;
}

.reportLine {
    border: 0px solid black;
    border-radius: 12px;
    color: white;
}

.reportLine hr {
    border-width: 3px;
    border-radius: 12px;
}

#ottaaLine {
    background-image: linear-gradient(#FF7A00, #ff8f27);
}

#cboardLine {
    background-image: linear-gradient(#641fe2, #854feb);
}

#questionsLine {
    background-image: linear-gradient(#00b8ff, #3acdfa);
}

#tactilLine {
    background-image: linear-gradient(#0e0f0f, #18191a);
}

#pressLine {
    background-image: linear-gradient(#ff7a00, #ff8f27);
}

#bochoLine {
    background-image: linear-gradient(#641fe2, #854feb);
}

#ocusLine {
    background-image: linear-gradient(#dc70eb, #e43afa);
}

#mainBlock {
    background-color: white;
}

#titleBlockEvalName {
    font-weight: normal;
}